.page-header
  .pull-right
    = link_to new_category_path, class: 'btn btn-default', rel: :facebox do
      %span.glyphicon.glyphicon-plus
      = t('.add_new_article')
  %h1= t('.articles')

#categories
  = render categories


:javascript
  $(function(){
    new Rattle.Votes({
      resource: $("#categories")
    });
  })